.appointmentsContainer {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 95px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0 20px;

    h1 {
        text-align: center;
        text-shadow: 0 0 2px #5d3023, 0 0 4px #5d3023, 0 0 10px #5d3023;
    }

    ul {
        width: 100%;
        max-width: 1200px;
        height: 100%;
        flex: 0.9;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        padding: 0 20px;
    }
}

.linkTo {
    color: #5d3023;
    filter: brightness(2);

    &:hover {
    filter: brightness(1);
    }
}